<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <!-- Loki Cloud hosted solution is limiting the batch size to 65536 Bytes -->
        <batchMaxBytes>65536</batchMaxBytes>
        <batchTimeoutMs>10000</batchTimeoutMs>
        <metricsEnabled>true</metricsEnabled>
        <http>
            <url>https://logs-prod-us-central1.grafana.net/loki/api/v1/push</url>
            <auth>
                <username>${LOKI_USERNAME}</username>
                <password>${LOKI_PASSWORD}</password>
            </auth>
            <requestTimeoutMs>15000</requestTimeoutMs>
        </http>
        <format>
            <label>
                <pattern>application=seven-wonders,instance=${HOSTNAME},level=%level,class=%logger</pattern>
            </label>
            <message>
                <pattern>timestamp=%date level=%level class=%logger thread=%thread | %msg %ex</pattern>
            </message>
        </format>
    </appender>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <springProfile name="!prod">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>

</configuration>
