<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="LOKI" class="com.github.loki4j.logback.InstrumentedLoki4jAppender">
        <!--
             Loki Cloud hosted solution is limiting the batch size to 65536 Bytes, our log lines are exceeding this
             limit quite often so we are sending them with a granularity of 1 instead of the default 1000.
             The library does not provide a `batchSize` expressed in Bytes yet, so we cannot set it smarter than that.
        -->
        <batchSize>1</batchSize>
        <batchTimeoutMs>10000</batchTimeoutMs>
        <http>
            <url>https://logs-prod-us-central1.grafana.net/loki/api/v1/push</url>
            <auth>
                <username>${LOKI_USERNAME}</username>
                <password>${LOKI_PASSWORD}</password>
            </auth>
            <requestTimeoutMs>15000</requestTimeoutMs>
        </http>
        <format>
            <label>
                <pattern>application=seven-wonders,instance=${HOSTNAME},level=%level,class=%logger</pattern>
            </label>
            <message>
                <pattern>timestamp=%date level=%level class=%logger thread=%thread | %msg %ex</pattern>
            </message>
        </format>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>

</configuration>
