.board {
    width: 100vw
}

.cards {
    display: flex;
    height: 40vh;
    width: 100vw;
}

.card-column {
    height: 40vh;
    margin: auto;
    position: relative;
    width: 15vw;
}

.card {
    position: absolute;
    /* dynamic positioning in JS */
}

.table-card-img {
    max-width: 10vw;
    max-height: 25vh;
}

.wonder {
    width: 100vw;
    text-align: center;
}

.wonder-img {
    border-radius: 0.5%/1.5%;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    max-height: 30vh;
    max-width: 95vw;
}
