.hand {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 345px; /* can hold enhanced cards */
    left: 50%;
    max-height: 25vw;
    position: absolute;
    transform: translate(-50%, 55%);
    transition: 0.5s
}
.hand:hover {
    bottom: 4rem;
    transform: translate(-50%, 0%);
}

.hand-card {
    align-items: flex-end;
    display: grid;
    margin: 0.2rem;
}

.hand-card .hand-card-img {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px black;
    grid-row: 1;
    grid-column: 1;
    max-width: 13vw;
    max-height: 60vh;
    opacity: 1;
    transition: 0.1s;
    width: 11rem;
}
.hand-card.unplayable .hand-card-img {
    opacity: 0.7;
}
.hand-card:hover .hand-card-img {
    box-shadow: 0 10px 40px black;
    width: 14rem;
    max-width: 15vw;
    max-height: 90vh;
}

.hand-card .action-buttons {
    align-items: flex-end;
    display: none;
    grid-row: 1;
    grid-column: 1;
}
.hand-card:hover .action-buttons {
    display: flex;
}
