.radial-list-container {
    margin: 0;
    padding: 0;
    position: relative;
}

.radial-list {
    margin: 0;
    padding: 0;
    transition: all 500ms ease-in-out;
    z-index: 1;
}

.radial-list-center {
    z-index: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
